@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@600&display=swap');

/* Small devices (tablets) */
@media (min-width: 768px) {
  html {
    font-size: 80%;
  }
}
/* Medium devices (desktops) */
@media (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}
/* Large devices (large desktops) */
@media (min-width: 1366px) {
  html {
    font-size: 120%;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 140%;
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 140%;
  }
}

h1 {
  font-size: 2.5rem;
  font-family: "Open Sans", sans-serif;
  color: #004b8d;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  color: #004b8d;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}
h4 {
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}
h5 {
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 3px;
}
h6 {
  font-size: 0.7rem;
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 0;
}
p {
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.87);
}
div, span, button, li, input, input::placeholder {
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
}
input[id^="search-bar"]::placeholder {
  font-size: 1rem;
}
#search-bar.ant-input-lg {
  height: 2.4rem;
}
button span {
  font-weight: bold;
}
button {
  padding: 5px;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}
.content-block-wrapper {
  padding: 20px
}
.status-icon {
  font-size: 20px;
  padding-right: 10px;
}
.pending {
  color: #ffb74d;
}
.accepted {
  color: #81c784;
}
.declined {
  color: #e57373;
}
.past,
.cancelled {
  color: rgba(0, 0, 0, 0.37);
}
.placeholder {
  color: rgba(0, 0, 0, 0.37);
  font-weight: normal;
}