@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@600&display=swap');
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 80%;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 100%;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    font-size: 120%;
  }
}
h1 {
  font-size: 2.5rem;
  font-family: "Open Sans", sans-serif;
  color: #004b8d;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  color: #004b8d;
  margin-bottom: 1rem;
}
h3 {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}
h4 {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}
h5 {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 3px;
}
h6 {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 0;
}
p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.87);
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
}
.content-block-wrapper {
  padding: 20px
}
button span {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.status-icon {
  font-size: 20px;
  padding-right: 10px;
}
.avatar-small {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: grey
}
.avatar-medium {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: grey
}
.pending {
  color: #ffb74d;
}
.accepted {
  color: #81c784;
}
.declined {
  color: #e57373;
}